.box {
    border: 2px solid black;
    display: flex;
    padding: 5px;
    margin: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}

.space {
    justify-content: space-around;
}

.column.center {
    align-items: center;
}

.row.center {
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex:1;
}

.vertical-div {
    margin: 2px 10px 2px 10px;
    border: 1px solid black;
}

.horizontal-spacing > div {
    padding: 5px;
}

.face {
    padding-left: 70px;
}